.profile {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.followersBar {
    display: flex;
    flex-direction: row;
}

.userInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 33%;
}
.userInfo > div {
    margin-top: 0.5em;
}
.userInfo > div:nth-child(odd) {
    color: var(--text-darker);
}

.modal > div {
    padding: 0.5em 1em;
}
.modal > div:nth-child(odd) {
    background-color: var(--background-darker);
}

.profileHeader {
    display: flex;
    justify-content: space-between;
}
