nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid var(--primary-color);
    margin-top: 1em;
}

.link {
    color: var(--white);
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.link:hover {
    cursor: pointer;
    /* color: var(--primary-color); */
    border-bottom-color: var(--primary-color-trans);
    transition: var(--transition);
}

.icon {
    font-size: 0.8em;
    margin-right: 0.5em;
}

.activePage {
    border-bottom-color: var(--primary-color);
}
