@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --primary-color: #50c78f;
    --secondary-color: #b1374c;
    --background: #303036;
    --background-darker: #242428;
    --text: #f4f4f5;
    --text-darker: #9f9fa8;

    --box-shadow: 0px 5px 10px var(--background-darker);

    --border-radius: 1em;

    --button-padding: 0.5em 0.7em;

    --transition: 0.33s;

    background-color: var(--background);
    color: var(--text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-gutter: stable;
}

body {
    margin: 0;
}

h3 {
    color: var(--primary-color);
    margin: 0 0 0.5em 0;
}

button {
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--text-darker);
    border: 1.5px solid var(--text-darker);
    font-size: 0.9em;
    padding: var(--button-padding);
    cursor: pointer;
    display: flex;
    align-items: center;

    transition: var(--transition);
}
button:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
button:active {
    color: var(--text-darker);
    border-color: var(--text-darker);
    transform: scale(0.95);
}

.transition {
    transition: 0.33s !important;
}

.section {
    padding: 1em;
    margin: 1em 0;
    border: 3px solid var(--background-darker);
    border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.modal {
    margin: auto;
    overflow-y: auto;
    max-height: 20em;
    min-width: 20em;
    max-width: 30em;
    margin-top: 10%;
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: 3px solid var(--background-darker);
    /* box-shadow: var(--box-shadow); */
}

.divider {
    border: 0.1px solid var(--text-darker);
    margin: 0.2em 0.5em;
    border-radius: var(--border-radius);
}

input {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 1px solid var(--background);
    padding: 0 0.5em;
    color: var(--text);
    outline: none;
    transition: var(--transition);
}
input:focus {
    border-color: var(--primary-color);
    transition: var(--transition);
}
input::placeholder {
    color: var(--text-darker);
}
