@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* --primary-color: #80d7f6; blue*/
    /* --primary-color: #ef233c; red */
    --primary-color: #50c78f;
    --secondary-color: #b1374c;
    --black: #303036;
    --black-darker: #242428;
    --white: #f4f4f5;
    --gray: #9f9fa8;

    --box-shadow: 0px 5px 10px var(--black-darker);

    --border-radius: 1em;

    --button-padding: 0.5em 0.7em;

    --transition: 0.33s;

    background-color: var(--black);
    color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

h3 {
    color: var(--primary-color);
    margin: 0 0 0.5em 0;
}

.transition,
.transition * {
    transition: 0.33s !important;
}

.section {
    padding: 1em;
    margin: 1em 0;
    border: 3px solid var(--black-darker);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
